
.movie-details-page {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
  padding: 50px 0 0px 0;
}



.details-container {
  position: relative;
  display: flex;
  gap: 40px;
  padding: 50px 100px;
  z-index: 5;
}

.details-poster {
  width: 280px;
  height: auto;
  border-radius: 10px;
}

.details-text {
  max-width: 60%;
}

.details-text h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.tags {
  display: flex;
  gap: 12px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.tag {
  background: white;
  color: black;
  padding: 8px 16px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
}

.overview {
  font-size: 18px;
  margin-bottom: 20px;
}

.info-grid p {
  font-size: 16px;
  margin: 4px 0;
}

.similar {
  padding: 10px 40px 20px 40px;
  background: linear-gradient(to right, #100f0f, #afa546);

}

.similar-heading {
  font-size: 32px;
  margin-bottom: 50px;
  z-index: 5;
}

.similar-row {
  display: flex;
  gap: 50px;         
  overflow-x: visible;  
  align-items: center;
  height: auto;
  padding-left: 56px;
  margin-bottom: 50px;
}
.similar-row::-webkit-scrollbar {
  display: none;
}

.similar-card {
  width: 170px;
  height: 230px;
  flex-shrink: 0;
  cursor: pointer;
  transition: transform 0.3s ease;}

.similar-card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.similar-card:hover {
  transform: scale(1.15);
  z-index: 10;
}
.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;      
  color: #FFD700;
  opacity: 0;          
  transition: opacity 0.3s ease;
}

.similar-card:hover .play-icon {
  opacity: 1;          
}

