.footer-signin {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-height: 190px;
  color: #a6a6a6;
  background: linear-gradient(to right, #afa546, #100f0f);
  padding: 30px;
  z-index: 10;
}
.footer{
  font-family: "Raleway", sans-serif;

}
.footer-signup {
  position: relative;
  width: 100%;
  min-height: 190px;
  color: #a6a6a6;
}

.footer-question {
  color: #030303;
  margin-bottom: 25px;
  font-size: 1.2rem;
  font-weight: 600;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 100px;
  margin-bottom: 50px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-column p {
  color: #000000;
  margin: 0;
  cursor: default;
  font-weight:600;
  cursor: pointer;
  text-decoration: underline;
  transition: color 0.3s ease;
}

.footer-column p:hover {
  color: #ffffff;
}

.footer-bottom p {
 color: #000000;
  margin-top: 25px;
  font-size: 0.9rem;
    font-weight:600;

}
