
.navbar {
  position: fixed;
  top: 0;
background-color: black;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  z-index: 100;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}
.active-link {
  font-weight: bold;
  border-bottom: 2px solid yellow;
}
.dashboard-logo {
  font-size: 2.5rem;
  font-weight: bold;
  color: #f5c518;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 36px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  transition: color 0.2s;
}

.nav-links a:hover {
  color: #f5c518;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 40px;
}

.nav-icon {
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: color 0.2s;
}

.nav-icon:hover {
  color: #f5c518;
}
